<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.konafets.typo3extsearch</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CF70CE4-D517-4B92-8419-D182F642E620</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stefano Kowalke</string>
	<key>description</key>
	<string>Searching the TYPO3 Extensions Reository</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TYPO3 Extension Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7CF70CE4-D517-4B92-8419-D182F642E620</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t3ext</string>
				<key>runningsubtext</key>
				<string>Searching TER ...</string>
				<key>script</key>
				<string>python t3x-search.py "{query}"</string>
				<key>subtext</key>
				<string>Show the latest 10 extensions which found</string>
				<key>title</key>
				<string>Search for TYPO3 Extensions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># TYPO3 Extension Search v1.0.0

Searches for TYPO3 extensions in the TER. Shows the latest version of the extension and the compatibility to TYPO3 CMS. Hit enter to go directly to the extension page.</string>
	<key>uidata</key>
	<dict>
		<key>7CF70CE4-D517-4B92-8419-D182F642E620</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
